@{ }

<form name="Form1" method="post">
    <div>
        <label for="fname">First Name</label>
        <input name="fname" type="text" value="" />
    </div>
    <div>
        <label for="lname">Last Name</label>
        <input name="lname" type="text" value="" />
    </div>
    <input type="submit" value="Send" name="submit" />
</form>

<!--
<h3>Form Type</h3>
   @*@using (Html.BeginForm("PostProduct", "Products", FormMethod.Post)) *@
       {
             <div>
                <label for="Name">Name</label>
            </div>
            <div>
                <input name="Name" type="text" id="name" />
            </div>
            <div>
                <label for="Price">Price</label>
            </div>
            <div>
                <input name="Price" type="text" id="price" />
            </div>
            <div>
                <input type="submit" value="Submit" name="Testing_Submit" />
            </div>
       }
-->
<!--
<h3>Complex Type</h3>
    <form id="form1" method="post" action="http://localhost:5004/">
        <div>
            <label for="Name">Name</label>
        </div>
        <div>
            <input name="Name" type="text" id="name" />
        </div>
        <div>
            <label for="Price">Price</label>
        </div>
        <div>
            <input name="Price" type="text" id="price" />
        </div>
        <div>
            <input type="submit" value="Submit" name="Testing_Submit" />
        </div>
    </form>
-->
<!--
<h3>Complex Type</h3>
<form id="form1" method="post">
    <div>
        <label for="status">Status</label>
    </div>
    <div>
        <input name="status" type="text" />
    </div>
    <div>
        <label for="date">Date</label>
    </div>
    <div>
        <input name="date" type="text" />
    </div>
    <div>
        <input type="submit" value="Submit" onclick="Test()" />
    </div>
</form>
-->

<script>function Test() {
    }</script>